@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Starmoon";
    src: url("../public/fonts/Starmoon-lg5v5.otf");
}


/* Define base styles for HTML elements */
body {
    @apply bg-gray-50 text-gray-800;
}

h1, h2, h3, h4, h5, h6, p, li {
    @apply font-sans text-greybrown;
}

h1 {
    @apply text-4xl font-bold mb-4;
}

h2 {
    @apply text-3xl font-semibold;
}

h3 {
    @apply text-2xl
}

h4 {
    @apply text-xl font-medium
}

p {
    @apply text-base leading-relaxed font-light mt-0 mb-4;
}

a {
    @apply underline hover:text-lightgreybrown;
}

ul {
    @apply list-inside list-disc;
}

ol {
    @apply list-inside list-decimal;
}

li {
    @apply mb-2 font-light;
}



@layer utilities {
    .code-highlight {
        border-radius: .25rem;
        padding: .125rem .1875rem;
        margin: 0 -.1875rem;
        white-space: nowrap;
        font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    }

    code {
        font-size: 0.875rem;
        line-height: 1.5rem;
    }

    .code-block-container {
        background-color: rgb(49, 49, 56);
        border-radius: 4px; /* Optional: for rounded corners */
        width: 100%;
        overflow: hidden; /* Ensures the border-radius clips the content */
    }

    .code-header {
        background-color: rgb(59, 59, 75); /* Lighter shade than the code block */
        color: white; /* Text color */
        padding: 4px 8px; /* Adjust as needed */
        font-size: 0.85rem; /* Adjust as needed */
        font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    }

    /*!* Assuming .code-block is the class applied in your SyntaxHighlighter *!*/
    /*.code-block {*/
    /*    margin: 0; !* Removes default margin *!*/
    /*    overflow: auto;*/
    /*    width: 100%;*/
    /*    !* Other styles... *!*/
    /*}*/

    .border-image {
        border-color: #1b181b;
        /*border-color: #f4f0f1; */
        border-width: 4px;
        border-radius: 0.125rem;
    }

    .markdown-container.clamped {
        overflow: hidden;
        overflow-wrap: break-word;
        max-height: 12rem;
      }

    .markdown-container {
    }

      .long-text {
        height: min-content;
      }
}